<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24378092542-v3f58k4b3175jv3d27ubeceft0go5cgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24378092542-v3f58k4b3175jv3d27ubeceft0go5cgr</string>
	<key>API_KEY</key>
	<string>AIzaSyCXrpeNsNKFzKn9fAhw_BUHXpcRKMo8BEI</string>
	<key>GCM_SENDER_ID</key>
	<string>24378092542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TravelAI</string>
	<key>PROJECT_ID</key>
	<string>travelai-62995</string>
	<key>STORAGE_BUCKET</key>
	<string>travelai-62995.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24378092542:ios:6e86df50edcdc733e6aeaf</string>
</dict>
</plist>